@charset "UTF-8";
html {
  text-align: center; }

section {
  width: 700px;
  margin: 0px auto; }

.box {
  width: 100%;
  padding-bottom: 15px; }

#logo {
  margin-top: 100px;
  margin-bottom: 80px; }

/*Textfields*/
.input_project {
  border-radius: 8px;
  font-family: "SinkinSans-500Medium";
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  height: 40px;
  text-align: left;
  border: 1px solid #5f688c;
  padding-left: 20px;
  text-shadow: none !important;
  box-shadow: none !important;
  color: #5f688c;
  outline: none;
  box-sizing: border-box;
  width: 650px;
  float: left; }
  .input_project:focus {
    background-color: #bccceb; }

.input_search {
  border-radius: 8px;
  font-family: "SinkinSans-500Medium";
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  height: 40px;
  text-align: left;
  border: 1px solid #000;
  padding-left: 20px;
  text-shadow: none !important;
  box-shadow: none !important;
  color: #000;
  outline: none;
  box-sizing: border-box;
  width: 100%; }
  .input_search:focus {
    background-color: #fff; }
  .input_search:focus {
    border: 2px solid #000; }

.input_in {
  border-radius: 8px;
  font-family: "SinkinSans-500Medium";
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  height: 40px;
  text-align: left;
  border: 1px solid #417505;
  padding-left: 20px;
  text-shadow: none !important;
  box-shadow: none !important;
  color: #417505;
  outline: none;
  box-sizing: border-box;
  float: left;
  margin-right: 10px; }
  .input_in:focus {
    background-color: #A1C9A1; }

.input_out {
  border-radius: 8px;
  font-family: "SinkinSans-500Medium";
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  height: 40px;
  text-align: left;
  border: 1px solid #EA523B;
  padding-left: 20px;
  text-shadow: none !important;
  box-shadow: none !important;
  color: #EA523B;
  outline: none;
  box-sizing: border-box;
  float: left;
  margin-right: 10px; }
  .input_out:focus {
    background-color: #FFCCC4; }

.label {
  width: 540px; }

.value {
  width: 100px; }

.btn_project {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: #bccceb;
  color: #5f688c;
  font-size: 35px;
  height: 40px;
  width: 40px;
  float: right; }
  .btn_project:hover {
    opacity: 1; }

.btn_in {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: #A1C9A1;
  color: #417505;
  font-size: 35px;
  height: 40px;
  width: 40px; }
  .btn_in:hover {
    opacity: 1; }

.btn_out {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: #FFCCC4;
  color: #EA523B;
  font-size: 35px;
  height: 40px;
  width: 40px; }
  .btn_out:hover {
    opacity: 1; }

.btn_back {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: #000;
  color: #fff;
  font-size: 35px;
  height: 40px;
  width: 40px; }
  .btn_back:hover {
    opacity: 1; }

/* Listenelemente */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.li_project a[href] {
  border-radius: 8px;
  margin: 10px 0 5px;
  font-size: 20px;
  opacity: 0.8;
  display: block;
  height: 50px;
  color: #5f688c;
  background-color: #bccceb;
  line-height: 50px;
  cursor: pointer;
  padding-top: 2px;
  box-sizing: border-box; }
  .li_project a[href]:hover {
    opacity: 1; }

.li_accounting.in {
  border-radius: 8px;
  margin: 10px 0 5px;
  font-size: 16px;
  opacity: 0.8;
  display: block;
  height: 30px;
  color: #417505;
  background-color: #A1C9A1;
  line-height: 30px;
  cursor: pointer;
  padding-top: 2px;
  box-sizing: border-box; }
  .li_accounting.in:hover {
    opacity: 1; }

.li_accounting.out {
  border-radius: 8px;
  margin: 10px 0 5px;
  font-size: 16px;
  opacity: 0.8;
  display: block;
  height: 30px;
  color: #EA523B;
  background-color: #FFCCC4;
  line-height: 30px;
  cursor: pointer;
  padding-top: 2px;
  box-sizing: border-box; }
  .li_accounting.out:hover {
    opacity: 1; }

.li_total {
  border-radius: 8px;
  margin: 10px 0 5px;
  font-size: 16px;
  opacity: 0.8;
  display: block;
  height: 30px;
  color: #000;
  background-color: #fff;
  line-height: 30px;
  cursor: pointer;
  padding-top: 2px;
  box-sizing: border-box; }
  .li_total:hover {
    opacity: 1; }

/* Summe (wird nicht mehr benötigt) */
.sum_in {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: transparent;
  color: #417505;
  font-size: 35px;
  height: 40px;
  width: 40px;
  text-align: right;
  padding: 20px;
  font-family: 'SinkinSans-400Regular'; }
  .sum_in:hover {
    opacity: 1; }
  .sum_in:hover {
    opacity: 0.8; }

.sum_out {
  border-radius: 50%;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0.8;
  font-family: 'Courier New';
  font-weight: bold;
  /*margin-top: 30px;
  margin-bottom: 25px;*/
  background-color: transparent;
  color: #EA523B;
  font-size: 35px;
  height: 40px;
  width: 40px;
  text-align: right;
  padding: 20px;
  font-family: 'SinkinSans-400Regular'; }
  .sum_out:hover {
    opacity: 1; }
  .sum_out:hover {
    opacity: 0.8; }

.titel_in {
  color: #417505; }

.titel_out {
  color: #EA523B; }

h1 {
  font-family: 'SinkinSans-500Medium';
  font-size: 40px;
  letter-spacing: 8.5px;
  padding-top: 50px; }

h2 {
  font-family: 'SinkinSans-500Medium';
  font-size: 35px;
  margin-top: 60px; }

h3 {
  font-family: 'SinkinSans-600SemiBold';
  font-size: 40px; }

.left {
  font-family: "SinkinSans-500Medium";
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.right {
  font-family: "SinkinSans-100Thin";
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

@font-face {
  font-family: 'SinkinSans-500Medium';
  src: url("../font/SinkinSans-500Medium.otf") format("truetype"); }
@font-face {
  font-family: 'SinkinSans-100Thin';
  src: url("../font/SinkinSans-100Thin.otf") format("truetype"); }
@font-face {
  font-family: 'SinkinSans-400Regular';
  src: url("../font/SinkinSans-400Regular.otf") format("truetype"); }
@font-face {
  font-family: 'SinkinSans-700Bold';
  src: url("../font/SinkinSans-700Bold.otf") format("truetype"); }
@font-face {
  font-family: 'SinkinSans-200XLight';
  src: url("../font/SinkinSans-200XLight.otf") format("truetype"); }
@font-face {
  font-family: 'SinkinSans-600SemiBold';
  src: url("../font/SinkinSans-600SemiBold.otf") format("truetype"); }
