<section class="projectinfo">

  <div class="project cf" ng-model="projects">
    <h1>{{projects.name}}</h1>
    <form class="addEinnahmen" ng-submit="addEinnahme()">
        <h2 class="titel_in">IN</h2>
        <input type="text" ng-model="amountNewEinnahme" placeholder="Summe der Einnahme eingeben..." class="focus"></br>
        <button type="submit">+</button>
    </form>
    <form class="addAusgaben" ng-submit="addAusgabe()">
        <h2 class="titel_out">OUT</h2>
        <input type="text" ng-model="amountNewAusgabe" placeholder="Summe der Ausgabe eingeben..." class="focus"></br>
        <button type="submit">+</button>
    </div>
    <br>
    <div class="info">
      <div class="btn_in"><span class="left">Einnahmen:</span><span class="right">{{projects.einnahmen}} €</span></div>
      <div class ="btn_out"><span class="left">Ausgaben:</span><span class="right">{{projects.ausgaben}} €</span></div>

<!--       <div>neue Einnahme: {{amountNewEinnahme}} €</div>
 -->
    </div>
    <h2>€ {{projects.einnahmen - projects.ausgaben}}</h2>
  </div>
  <a href="index.html"><img src="images/back.svg"></a>
</section>
