<section class="projectpage">
  <div class="search">
    <h2>freelance App</h2>
    <h1><label>search: </label></h1>
    <input ng-model="query" placeholder="Search for projects" autofocus>
  </div></br>

  <div class="addProject">
    <h1><label>add Project: </label></h1>
    <input ng-model="newProject" placeholder="add project">
  </div></br>
    </br>

  <ul style="list-style-type: none;"> <!-- Style noch hier auf none gesetzt -->
    <li ng-repeat="item in projects | filter: query">
      <a href="#/projects/{{projects.indexOf(item)}}">
        <div class="info">
          <button class="btn_project">{{item.name}} <span>sum: {{item.einnahmen - item.ausgaben}}</span></h2>
        </div>
      </a>
    </li>
  </ul>

  <button class="btn_project" ng-click="addProject()">+</button>


</section>
