<section class="projectpage">
  <!-- Header-Bild -->
  <img src="images/logo.svg" alt="logo">
  <!-- Header-Bild -->
  <div class="search">
    <!-- <h1><label>search: </label></h1> -->
    <input ng-model="query" placeholder="Search for projects" autofocus>
  </div>

  <div class="addProject">
    <!-- <h1><label>add Project: </label></h1> -->
    <input ng-model="newProject" placeholder="add project">
    <img src="images/projectAdd.svg" alt="Project_Add" ng-click="addProject()">
  </div>


  <ul style="list-style-type: none;"> <!-- Style noch hier auf none gesetzt -->
    <li ng-repeat="item in projects | filter: query">
      <a href="#/projects/{{projects.indexOf(item)}}">
        <div class="info">
          <button class="btn_project"><span class="left">{{item.name}} </span><span class="right">€ {{item.einnahmen - item.ausgaben}}</span></h2>
        </div>
      </a>
    </li>
  </ul>

</section>
