#logo{
  margin-top: 100px;
  margin-bottom: 80px;
}

/*Textfields*/
@mixin input_style($input_text_color, $input_background_color){
  border-radius: 8px;
  font-family: $fontfamily_left;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  height: $height_btn_in_out;
  text-align: left;
  border: 1px solid $input_text_color;
  padding-left: 20px;
  text-shadow:none !important;
  box-shadow:none !important;
  color: $input_text_color;
  outline: none;
  box-sizing: border-box;

  &:focus{
    background-color: $input_background_color;
  }
}

.input_project{
  @include  input_style($color_btn_project_text, $color_btn_project);
  width: 650px;
  float: left;
}

.input_search{
  @include  input_style($black, $white);
  width: 100%;
  &:focus{
    border: 2px solid $black;
  }
}

.input_in{
  @include input_style($color_btn_in_text, $color_btn_in);
  float: left;
  margin-right: 10px;
}

.input_out{
  @include input_style($color_btn_out_text, $color_btn_out);
  float: left;
  margin-right: 10px;
}

.label{
  width: 540px
}
.value{
  width: 100px;
}


@mixin button_style($background_color, $text_color, $fontsize, $btnheight){
  border-radius: 50%;

  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;
  opacity: 0.8;
  margin: 0;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: $background-color;
  color: $text_color;
  font-size: $fontsize;
  height: $btnheight;
  width: $btnheight;
  cursor: pointer;
  outline: none;
  
 
  &:hover{
    opacity: 1;
  }
}

.btn_project{
  @include button_style($color_btn_project, $color_btn_project_text, $fontsize_btn_project, $height_btn_project);
  float: right;

}

.btn_in{
  @include button_style($color_btn_in, $color_btn_in_text, $fontsize_btn_in_out, $height_btn_in_out);
}

.btn_out{
  @include button_style($color_btn_out, $color_btn_out_text, $fontsize_btn_in_out, $height_btn_in_out);
}

.btn_back{
  @include button_style($black, $white, $fontsize_btn_project, $height_btn_project);
}

.btn_delete{
  @include button_style($color_btn_delete, $color_btn_delete_text, $fontsize_btn_delete, $height_btn_delete);
  display: block;
  float: right;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 6px;
  &.project{
    margin-top: 13px;
    z-index: 99;
  }
}


/* Listenelemente */
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@mixin list_style($background_color, $text_color, $fontsize, $height){
  border-radius: 8px;
  margin: 10px 0 5px;
  font-size: $fontsize;
  display: block;
  height: $height;
  color: $text_color;
  background-color: $background_color;
  line-height: $height;
  padding-top: 2px;
  box-sizing: border-box;
    
  &:hover{
    opacity: 1;
  }
}


.li_project a[href]{
  @include list-style($color_btn_project, $color_btn_project_text, $fontsize_li_project, $height_li_project);
  cursor: pointer;
  opacity: 0.8;
  padding: 0px 10px;
}

.li_accounting.in{
  @include list-style($color_btn_in, $color_btn_in_text, $fontsize_li_inout, $height_li_inout);
  padding-left: 10px;
}

.li_accounting.out{
  @include list-style($color_btn_out, $color_btn_out_text, $fontsize_li_inout, $height_li_inout);
  padding-left: 10px;
}

.li_total{
  @include list-style($white, $black, $fontsize_li_inout, $height_li_inout);
}

/* Summe (wird nicht mehr benötigt) */
.sum_in{
  @include button_style($transparent, $color_btn_in_text, $fontsize_btn_in_out, $height_btn_in_out);
  text-align: right;
  padding: 20px;
  font-family: 'SinkinSans-400Regular';
  &:hover{
    opacity: 0.8;
  }
}

.sum_out{
  @include button_style($transparent, $color_btn_out_text, $fontsize_btn_in_out, $height_btn_in_out);
  text-align: right;
  padding: 20px;
  font-family: 'SinkinSans-400Regular';
  &:hover{
    opacity: 0.8;
  }
}




.titel_in{
  color: $color_btn_in_text;
}

.titel_out{
  color: $color_btn_out_text;

}

h1{
  font-family: 'SinkinSans-500Medium';
  font-size: 40px;
  letter-spacing: 8.5px;
  padding-top: 50px;
}

h2{
  font-family: 'SinkinSans-500Medium';
  font-size: 35px;
  margin-top: 60px;
}

h3{
  font-family: 'SinkinSans-600SemiBold';
  font-size: 40px;
}

@mixin text_style($fontfamily, $floatdirection){
  font-family: $fontfamily;
  float: $floatdirection;
}

.left{
  @include text_style($fontfamily_left, left);
}

.right{
  @include text_style($fontfamily_right, right);
}
