$color_btn_project: #bccceb;
$color_btn_project_text: #5f688c;
$fontsize_btn_project: 24px;
$height_btn_project: 70px;


$color_btn_in: #A1C9A1;
$color_btn_in_text: #417505;

$color_btn_out: #FFCCC4;
$color_btn_out_text: #EA523B;

$fontsize_btn_in_out: 18px;
$height_btn_in_out: 40px;

$black: #000;



$fontfamily_left: 'SinkinSans-500Medium';
$fontfamily_right: 'SinkinSans-100Thin';
$float_left: left;
$float_right: right;

$transparent: transparent;
$titelfontsize: 35px;
