$box_width: 700px;

$color_btn_project: #bccceb;
$color_btn_project_text: #5f688c;
$fontsize_btn_project: 35px;
$height_btn_project: 40px;


$fontsize_li_project: 20px;
$height_li_project: 50px;

$fontsize_li_inout: 16px;
$height_li_inout: 30px;

$color_btn_in: #A1C9A1;
$color_btn_in_text: #417505;

$color_btn_out: #FFCCC4;
$color_btn_out_text: #EA523B;

$color_btn_delete: #ae1d14;
$color_btn_delete_text: #fff;

$fontsize_btn_delete: 14px;
$height_btn_delete: 20px;


$fontsize_btn_in_out: 35px;
$height_btn_in_out: 40px;

$black: #000;
$white: #fff;


$fontfamily_left: 'SinkinSans-500Medium';
$fontfamily_right: 'SinkinSans-100Thin';
$float_left: left;
$float_right: right;

$transparent: transparent;
$titelfontsize: 35px;
